# Bỏ qua các file tạm thời
*.tmp

# Bỏ qua thư mục node_modules
node_modules/

# Bỏ qua các file log
*.log

# Bỏ qua các file cấu hình cụ thể cho IDE
.vscode/
.idea/

# Bỏ qua các file build
/build
/dist

# Bỏ qua các file hệ thống
.DS_Store
Thumbs.db

app/vendor

app/config/google-services.config.php